<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <title>Bundle title</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
 </head>
 <body>
  <div class="wrapper index_wrapper">
   <div class="header">
    <h1 class="title">Bundle title</h1>
    <div class="description">Description of bundle.</div>
   </div>
   <div class="toc">
     <ol>
       <li class="document"><a href="docname.html">Title of document</a></li>
       <li class="document"><a href="docname.html">Title of document</a></li>
       <li class="document"><a href="docname.html">Title of document</a></li>
     </ol>
   </div>
   <div class="bundle_info">
    <div class="name"></div>
    <div class="deps_container">
     <h4>Dependencies</h4>
     <div class="deps"></div>
    </div>
   </div>
  </div>
 </body>
</html>
