<!DOCTYPE html>
<html>
 <head>
  <title>Title</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="style.css" />
 </head>
 <body>
  <div class="wrapper refs_wrapper">
   <div class="context">
    <h1><a href="index.html" class="bundle">Bundle title</a></h1>
   </div>
   <div class="header">
    <h2>References</h2>
   </div>
   <div class="references">
     <div class="paragraph">This is a paragraph.</div>
     <div class="paragraph">This is a paragraph.</div>
     <div class="paragraph">This is a paragraph.</div>
   </div>
  </div>
 </body>
</html>
